<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <div class="error-section">
        <h1>Error <%= errorCode %></h1>
        <h2><%= errorMessage %></h2>
        <a href="/">Volver al Inicio</a>
    </div>

</body>

</html>