<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylespayment-confirmed.css">
<link rel="stylesheet" href="/css/customers/mqsstylespayment-confirmed.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>¡Gracias!</h1>
        
            <div class="common-form">
                <h3 class="form-subtitle">Tu pago fue confirmado</h3>
                <p> Tu orden fue finalizada y el pago confirmado por lo que ya puedes retirarte :) ¡Gracias por preferirnos!
                    <br>
                 En <strong>45</strong> segundos será redireccionado a la página principal</p>
                <img class="form-main-img" src="/media/check-sign.png" alt="success">
            </div>


    </main>

    <%- include('../includes/footer.ejs') %>

    <script src="/js/payment-confirmed.js"></script>

    <%- include('../includes/end.ejs') %>