
.error-section{
    width: 80%;
    margin: 200px 10%;
    padding: 5%;
    text-align: center;
    word-wrap: break-word;
    border: 4px solid rgb(1, 1, 97);
}

.error-section h1, p{
    width: 100%;
    font-weight: bold;
    font-size: 3.5em;
}