
@media only screen and (max-width:1200px){
 
  

}

@media only screen and (max-width:650px){
    
    .order-details-table{
        width:100%;
    }
th{
    
    
    padding:0px 0px 0px 0px;
    
   
}

td{
    
   
    padding:0px 0px 0px 0px;
    
}


    
}

