<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/stylesindex.css">
<link rel="stylesheet" href="/css/mqsstylesindex.css">
</head>

<body>

    <%- include('includes/navigation.ejs') %>

    <section id="main-cover">
        <div id="main-cover-content">
            <% if (!userId) {%> 
            <h1>Restaurante Siglo XXI</h1>
            <p>Experiencia gastronómica como nunca</p>
            <a href="/auth/login">Iniciar Sesión</a>
            <% } else { %>
                <h1>Restaurante Siglo XXI</h1>
            


            <% switch (roleId) {
            case '1': %>
            <p>¡Bienvenido de nuevo!</p>
            <a href="/orders/new">Ingresar Orden</a>
            <% break; %>

            <% case '3': %>
            <p>¡Bienvenido al modulo de Bodega!</p>
            <% break; %>

            <% case '4': %>
            <p>¡Bienvenido al modulo de Finanzas!</p>
            <% break; %>
    
    
    
    
    
            <% default: %>
            <p>¡Bienvenido de nuevo!</p>
            <% break; 
        } %>
           
            <% } %>  
        </div>
    </section>


    <%- include('includes/footer.ejs') %>
    <%- include('includes/end.ejs') %>