<footer id="main-footer">

    <nav id="footer-pages">
        <a href="#">Sobre Nosotros</a>
        <a href="#">Trabaja con Nosotros</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">FAQ</a>
    </nav>



    <div id="contact-info">
        <h3>Contáctanos:</h3>
        <address>
            <a href="mailto:example@siglo21.com"><i class="fas fa-envelope"></i>ayuda@siglo21.com</a>
            <a href="tel:+13115552368"><i class="fas fa-phone-alt"></i>(+569) 89725830</a>
        </address>
    </div>

    <div id="footer-info">
        <h6>Todos los derechos reservados &#169;</h6>

    </div>


</footer>